
*{
    margin-left: 1em;
}
body{
    background-color: #FAFAFA;
    margin-top: 0;
}
.logo{
    width: 100%;
    padding-left: 3em;
    padding-top: 3em;
    margin: 0 0 0;
}
.logo img{
    margin-left: 2.5em;
    width: 12.5em;
    height:10em;
    
}

.menuslaterais{
    height: 100%;
    width: 25%;
    border-right: 0.15em solid rgb(0, 0, 0);
    display: inline-block;
    padding-right: 1em;
}
a{
    text-decoration: none;
    
    
}
a:visited {
        color:#20648E;
    }
.link1{
    padding-top: 2.9em;
    text-align: center;
   
    font-size:larger;
    color:black;
    margin: 0 0 0;
    
    
}


.content{
    display: flex;
    flex-direction: row;
    margin: 0 0 0;
}

.form1{
    width: 50em;
    display: inline-block;
    margin: 0 0 0;
    
}

.inputline2{
    padding-top: 2em;
}
.inputbox{
    width: 6.5em;
    border-radius: 1em;
    height: 2em;
}
.inputline3{
    padding-top: 2em;
}



.inputline5{
    padding-top: 2em;
}

.descricaopagina{
    font-size:1.5em;
    padding-top: 0.3em;
    margin-left: 13em;
}


   .input-register1{
    display: inline;
    width: 25em;
    border-radius: 5em;
    height: 1.5em;
    margin-left: 1.5em;
    }
  

   .input-register3{
    display: inline;
    width: 25em;
    border-radius: 1em;
    height: 1.5em;
    margin-left: 5.5em;
   }

   .input-register5{
    display: inline;
    width: 5em;
    border-radius: 1em;
    height: 1.5em;
    margin-left: 4.2em;
   }
   .input-register6{
    display: inline;
    width: 15em;
    border-radius: 1em;
    height: 1.5em;
   }
    .buttons{
      padding-top: 5em;
     text-align:
      margin-left: 18em;
    }
  
  .buttoncancel{
    display: inline;
    width: 10em;
    border-radius: 1em;
    height: 2em;
    margin: 0;
    background-color: white;
  }
  
  .buttonsave{  
    display: inline;
    width: 10em;
    border-radius: 1em;
    height: 2em;
    margin: 0;
    background-color: #20648e;
    color: white;
  }
  

  